.change_password {

    h5 {
        font-size: 30px;
        font-weight: bolder;
        color: #0f4a8a;
    }

    .delivery-details {
        &.edit-details {
            position: relative;
            display: block;
            padding-top: 1.5rem;
        }

        h4 {
            font-weight: 700;
            margin-bottom: 1rem;
        }

        form {
            &.form-row {
                &.settings-list {
                    display: block;
                    width: 377px;

                    div {
                        font-weight: 700;
                        // color: #2E2E2E;

                        &.form-group {
                            label {
                                text-transform: uppercase;
                                // font-size: 0.75rem;
                                font-size: 14px;
                                font-weight: 600;
                            }

                            // .form-control {
                            //     border: 1px solid #b6b5b5;
                            // }

                            &.password {
                                margin-top: 1rem;

                                .FaEye {
                                    float: right;
                                    right: 10px;
                                    margin-top: -25px;
                                    position: relative;
                                    z-index: 2;
                                    color: #9b9b9b;
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn-primary {
            width: auto;
            padding: 0em 2rem;
            font-size: 0.875rem;
            font-weight: 400;
            letter-spacing: 0.5px;
            border-radius: 0px;
            background: #0f4a8a;
            border: none;
            line-height: 42px;
            color: #FFF;
            // z-index: 1;
            height: 40px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

            span {
                position: relative;
                z-index: 9;
            }
        }

        .btn {
            margin: 2rem 1rem 0 0;
            text-transform: uppercase;
            box-shadow: none;
        }

        .unsubscribe-mail {
            margin-top: 2rem;
            border-top: 1px solid #dbdbdb;
            padding-top: 2rem;
            margin-right: 6rem;
            width: 377px;

            h4 {
                font-weight: 700;
                margin-bottom: 1rem;
            }
            
            .form-group {
                label {
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    font-weight: 600;
                }
            }
        }
    }
}