.bg-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 0vw;
  height: 100vh;
  background-color: #000;
  content: "";
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}
.bg-overlay.show {
  transition: opacity 0.5s, width 0.5s;
  width: 100vw;
  opacity: 0.5;
}

.product-detail .desc {
  padding-bottom: 45px;
  display: flex;
}
.product-detail .desc .maain {
  display: flex;
  width: 50%;
}
.product-detail .desc .maain .flex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 10px;
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.product-detail .desc .maain .flex .img-div {
  border: 1px solid rgba(182, 181, 181, 0.7607843137);
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto 10px;
  width: 50px;
  height: 50px;
}
.product-detail .desc .maain .flex .img-div .mini-img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.product-detail .desc .maain .view-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
  border: 1px solid rgba(182, 181, 181, 0.7607843137);
  border-radius: 5px;
  width: 100%;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 600px;
}
.product-detail .desc .maain .view-img .img {
  max-width: 100%;
  height: auto;
}
.product-detail .desc .details {
  width: 50%;
}
.product-detail .desc .details .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.product-detail .desc .details .title .product-title {
  font-size: 14px;
  color: #676666;
  font-weight: 700;
}
.product-detail .desc .details .title .share {
  display: flex;
}
.product-detail .desc .details .title .share .add-wishlist {
  color: #00A0E3;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
}
.product-detail .desc .details .title .share .add-wishlist a {
  display: flex;
  align-items: center;
  color: #00A0E3;
}
.product-detail .desc .details .title .share .add-wishlist a .FaRegHeart {
  margin-right: 5px;
  font-size: 20px;
}
.product-detail .desc .details .title .share .share-text {
  color: #00A0E3;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.product-detail .desc .details .title .share .share-text .FaShareAlt {
  margin-right: 5px;
}
.product-detail .desc .details .cat {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.product-detail .desc .details .price .value {
  font-size: 35px;
  color: #0F4A8A;
  font-weight: 700;
  display: flex;
  margin-bottom: 1rem;
}
.product-detail .desc .details .price .value .fa-rupee-sign {
  margin-right: 0.5rem;
}
.product-detail .desc .details .price .value span {
  font-size: 20px;
  color: #676666;
  font-weight: 600;
  text-decoration: line-through;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
}
.product-detail .desc .details .size {
  font-weight: 400;
  margin-bottom: 1.25rem;
}
.product-detail .desc .details .size span {
  font-weight: 500;
}
.product-detail .desc .details .quantityy {
  margin-bottom: 2rem;
}
.product-detail .desc .details .quantityy .title {
  font-size: 600;
  font-size: 14px;
}
.product-detail .desc .details .quantityy .add {
  display: flex;
}
.product-detail .desc .details .quantityy .add .form-select {
  background-image: url("../../../assets/images/caret-down-solid.svg");
  background-size: auto 50%;
  padding: 0px 30px 1px 10px;
  outline: none;
  border: 1px solid #B6B5B5;
  border-radius: 5px;
  margin-right: 2rem;
  width: 70px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.product-detail .desc .details .quantityy .add .form-select::-ms-expand {
  display: none;
}
<<<<<<< HEAD:components/molecules/product_images/product_images.css
.product-detail .desc .details .quantityy .add .form-select:focus {
  box-shadow: none;
}
.product-detail .desc .details .quantityy .add .add_cart {
  background-color: #0F4A8A;
  color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
}
.product-detail .desc .details .quantityy .add .add_cart .fa-shopping-cart {
  margin-right: 0.5rem;
}
.product-detail .desc .details .quantityy .add .site-nav {
=======
.product-detail .desc .details .quantityy .details .site-nav {
>>>>>>> ff28e1e59ba60065765d3c6bb59796b149debdfa:components/molecules/productDetail/product_images.css
  top: 0;
  right: 0;
  width: 0vh;
  max-width: 750px;
  z-index: 1000;
  height: 100vh;
  margin-right: auto;
  position: fixed;
  transition: all 0.3s ease;
  background-color: #fff;
  border-left: 0;
}
.product-detail .desc .details .quantityy .add .site-nav .btn-close {
  display: block;
  position: inherit;
}
.product-detail .desc .details .quantityy .add .site-nav.site-nav--open {
  width: 50vw;
  transition: width 1s;
  z-index: 9999;
}
.product-detail .desc .details .quantityy .add .site-nav .topheader {
  background-color: #0F4A8A;
  height: 100px;
  color: #FFF;
  text-transform: uppercase;
  padding: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-detail .desc .details .quantityy .add .site-nav .topheader h2 {
  color: #FFF;
  margin-bottom: 0;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: normal;
  text-transform: uppercase;
}
.product-detail .desc .details .quantityy .add .site-nav .topheader h2 span {
  font-weight: 300;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body {
  height: 100%;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .product-price {
  padding: 1.375rem 1.875rem 0rem;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0rem;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .product-price li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 1.25rem;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .product-price li h5 {
  font-size: 1.125rem;
  font-weight: bold;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .product-details {
  padding: 0.8rem 1.875rem 1.375rem;
  margin: 0;
  height: 645px;
  overflow-y: scroll;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .cart-footer {
  height: 100px;
  padding: 1.375rem 1.875rem 1.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -3px 6px -5px #000;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .cart-footer a .btn-secondary {
  width: 150px;
  margin-right: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0px;
  background-color: transparent;
  color: #0F4A8A;
  overflow: hidden;
  position: relative;
  border: 1px solid #0F4A8A;
  height: 40px;
  display: inline-block;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .cart-footer a .btn-primary {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0em 1em;
  text-transform: uppercase;
  border-radius: 0px;
  background: #0F4A8A;
  border: none;
  line-height: 42px;
  color: #FFF;
  z-index: 1;
  height: 40px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: auto;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .cart-footer a .btn-primary::before, .product-detail .desc .details .quantityy .add .site-nav .cart-body .cart-footer a .btn-primary::after {
  top: 0;
  width: 0;
  height: 100%;
  mix-blend-mode: overlay;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .cart-footer a .btn-primary::before {
  left: 0;
  width: 0;
  background: #00A0E3;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .cart-footer a .btn-primary::after {
  left: 100%;
  width: 0;
  background: #00A0E3;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .cart-footer a .btn-primary span {
  position: relative;
  z-index: 9;
}
.product-detail .desc .details .quantityy .add .site-nav .cart-body .cart-footer .total-prize {
  font-size: 1.5rem;
  font-weight: bold;
}
.product-detail .desc .details .quantityy .add .quote,
.product-detail .desc .details .quantityy .add .customise {
  color: #00A0E3;
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid #00A0E3;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.product-detail .desc .details .quantityy .add .quote .fa-cog,
.product-detail .desc .details .quantityy .add .customise .fa-cog {
  margin-right: 0.5rem;
}
.product-detail .desc .details .select_delivery {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.product-detail .desc .details .select_delivery strong {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}
.product-detail .desc .details .select_delivery .enter {
  display: block;
}
.product-detail .desc .details .pin-check {
  margin-bottom: 2rem;
}
.product-detail .desc .details .pin-check .input-group {
  border: 1px solid #dee2e6 !important;
  border-radius: 5px;
  width: 40%;
}
.product-detail .desc .details .pin-check .input-group input {
  border: none;
}
.product-detail .desc .details .pin-check .input-group .btn-outline-secondary {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3803921569);
  border: none;
  border-left: 0;
  padding: 8px 10px;
  box-shadow: none;
}
.product-detail .desc .details .pin-check .form-error {
  color: red;
  font-size: 0.8rem;
  font-weight: 700;
  padding-top: 0.6rem;
}
.product-detail .desc .details .product_information {
  margin-bottom: 1rem;
  font-size: 500;
  font-weight: 600;
}
.product-detail .sliderWapper .title {
  color: #0F4A8A;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.largeimage {
  z-index: 9;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: auto !important;
  padding: 5px;
}
.popup-content button {
  outline: none;
  margin-left: 1px;
  margin-right: 1px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role=tooltip].popup-content {
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup=tooltip].popup-overlay {
  background: transparent;
}/*# sourceMappingURL=product_images.css.map */