:root {
    --bs-body-bg: #fefefe;
}

$maincolor:#0F4A8A;
$BaseFontFamily:'Montserrat',
sans-serif;
$NunitoSans: 'NunitoSans-Regular';

$BaseFont:1rem; //16px
$HeadingH2:5rem; //80px
$HeadingH3:2.5rem; //40px
$HeadingH4:1.875rem; //30px
$HeadingH5:1.25rem; //20px
$HeadingH6:0.875rem; //14px

$ColorWhite:#fff;
$ColorOrange:#FC7124;
$ColorPurple:#160041;
$ColorLightPurple:#8D4D9E;
$ColorBlack:#000000;
$ColorGray:#707070;
$ColorBlue:#00A0E3;
$ColorLightBlue:#4684C5;
$ColorPink:#F91B7A;
$borderColor:#DCDADA;
$linkcolor: #0377A8;
$DefaultTransition: all 0.5s ease-in-out;
$textcolor: $ColorBlack;
// $bluecolor: #00A0E3;
$cardcolor: #E9F7FD;
$hovercolor: #DDD;
$cardtext: 1.125rem;
$redColor:#D90312;
$ColorYellow:#FCEC2D;